#{extends 'template/layout.html' /}
#{set title:'User' /}

<!-- Horizontal Form -->
<div class="box box-info">
    <div class="box-header with-border">
            <div class="col-md-6">
        <h3 class="box-title">User Profile</h3>
            </div>
      <div class="col-md-6 text-right">
        <a href="@{CUser.form(user.id)}" class="btn btn-primary text-right">Edit</a>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal" action="@{CUser.formSubmit}">
        <input type="hidden" value="${user.id}" name="user.id">
      <div class="box-body">
        <div class="form-group">
            <label class="col-sm-2 control-label">Username</label>
  
            <div class="col-sm-10">
              ${user.username}
            </div>
          </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Name</label>

          <div class="col-sm-10">
                ${user.nama}
          </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

            <div class="col-sm-10">
                    ${user.email}
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Role</label>

            <div class="col-sm-10">
                    ${user.role?.name}
            </div>
        </div>
        
        
      </div>
    </form>
  </div>
  <!-- /.box -->