#{extends 'workflow/border.html' /}
<div class="breadcrumb">Process Instance</div>
<form method="post" action="@{workflow.WorkflowBrowser.searchProcess()}" class="form-inline">
  <div class="form-group">
      <label class="sr-only">Process Description </label>
      <input name="description" type="text" id="description" value="${description}" class="form-control" placeholder="Example:  LLS_ID=12"/>
  </div>
  <input type="submit" name="button" value="Search...."  class="btn btn-success"/>
</form>
<br />
<table class="table">
      <tr>
        <th width="200">Process Instance ID</th>
        <th width="150">Description</th>
        <th>Current State</th>
        #{if editable}
        <th width="10"> </th>
        #{/if}
        </tr>
      #{list listPI, as:'pi'}
      <tr>
        <td nowrap="nowrap"><a href="@{workflow.WorkflowBrowser.showProcessInstance(pi.process_instance_id)}">${pi.workflow_id} #${pi.process_instance_id}</a></td>
        <td>${pi.description}</td>
        <td>[${pi.status}] ${pi.current_state}</td>
        #{if editable}
        <td><a href="@{workflow.WorkflowBrowser.deleteProcessInstance(pi.process_instance_id)}"><i class="fa fa-trash-o fa-lg"></i></a></td>
        #{/if}
        </tr>
      #{/list}
</table>

