#{extends 'workflow/border.html' /}
<div class="breadcrumb">Process  Definition</div>
<h3>Upload Process Definition</h3>
<form action="@{workflow.WorkflowBrowser.uploadProcessDefinitionSubmit()}" method="post" enctype="multipart/form-data" class="form-inline">
  <div class="form-group">
  	<label class="sr-only">Process Definition File (CSV)</label>
  	<input name="fileProcessDefinition" type="file" class="form-control"/>
  </div>
  <input type="submit" name="button" value="Upload" class="btn btn-success" />
</form>
<br />
<table class="table">
      <tr>
      	<td width="10">#</td>
        <th>Process Definition</th>
        <th width="10">Versi</th>
        <th>Modified</th>
        <th>Status</th>
        <th>Test</th>
        #{if editable}
        <th width="10"> </th>
        #{/if}
      </tr>
      #{list listPD, as:'pd'}
      <tr>
      	<td >${pd.process_definition_id}</td>
        <td ><a #{if pd?.aktif}class="bold"#{/if} href="@{workflow.WorkflowBrowser.showProcessDefinition(pd.process_definition_id)}">${pd?.workflow_id}</a></td>
        <td>${pd?.version}</td>
        <td><span #{if pd?.aktif}class="bold"#{/if}>${pd?.createdate}</span></td>
        <td>${pd?.status}</td>
        <td><a href="@{workflow.WorkflowBrowser.testProcessDefinition(pd.process_definition_id)}">[Run Test]</a></td>
         #{if editable}
        <td><a href="@{workflow.WorkflowBrowser.deleteProcessDefinition(pd.process_definition_id)}"><i class="fa fa-trash-o fa-lg"></i></a></td>
        #{/if}
        </tr>
      #{/list}
</table>
